.displayflex{
    align-items: center;
    color:white;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}

.displayflex .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.displayflex .container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7f279c, #2e279d 100%);
    
    width: 350px;
    height: 450px;
}

.displayflex .container .left form {    
    margin: 20px;
}

.displayflex .container .left .lefttittle {
    font-size: 16px;
    margin: 10px;
}


.displayflex .container .left form input {
    background: transparent;
    border: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    margin: 15px;
    padding: 6px;
    outline: none;
    width: 250px;
}

.displayflex .container .left form input::placeholder {
    color: rgba(255, 255, 255, 0.573);
}

.displayflex .container .left form textarea {
    background: transparent;
    border: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    margin: 20px;
    outline: none;
    width: 250px;
}

.displayflex .container .left form textarea::placeholder {
    color: rgba(255, 255, 255, 0.573);
}

.displayflex .container .left button {
    background-color: #7f279c;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    padding: 9px;
    width: 120px;
}

.displayflex .container .left button:hover {
    background-color: #780b9c;
    outline: none;
    transition: .8s;
    cursor: pointer;

    width: 130px;
    padding: 12px;
}

.displayflex .container .left button::placeholder {
    font-weight: bolder;
}

.displayflex .right img {
    border-radius: 80%;
    height: 300px;
    width: 250px;
}